<div><a routerLink="/contract-search">
  <button class="btn btn-default">
    &lt;- Contract search</button></a>
  <button class="btn btn-default" (click)="refresh()">
    Refresh</button>
  <br><br>
</div>

<div>contract-statistic works!</div>
<div>Total monthly fee: {{sumMonthFees}}</div>

<div class="card">
  <div class="content">
    <pre>{{ contracts | json }}</pre>
  </div>
</div>

<fitness-barchart [outdatedContracts]="outdatedContracts" [validContracts]="validContracts"></fitness-barchart>
