<div>
  <a routerLink="/contract-search">
    <button class="btn btn-default">&lt;- Contract search</button></a>
  <button class="btn btn-default" (click)="refresh()">Refresh</button>
  <br /><br />
</div>

<h4>Total monthly revenue: {{ sumMonthFees | currencyFormatter: "EUR":1 }}</h4>
<h4>Total number of contracts ever signed: {{this.contracts!.length}}</h4>

<fitness-barchart *ngIf="outdatedContracts!.length > 0 || validContracts!.length > 0"
  [outdatedContracts]="outdatedContracts!.length" [validContracts]="validContracts!.length"
  [events]="eventRefreshSubject.asObservable()">
</fitness-barchart>
