<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="" />
      </div>
      FITNESS MS
    </a>
  </div>
  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="member-search">
        <i class="ti-user"></i>
        <p>Members</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="fitnessequipment-search">
        <i class="ti-check"></i>
        <p>Fitness Equipment</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="contract-search">
        <i class="ti-folder"></i>
        <p>Contracts</p>
      </a>
    </li>
    <li>
      <a routerLink="course-search">
        <i class="ti-close"></i>
        <p>Courses</p>
      </a>
    </li>
  </ul>
</div>
