<div class="card">
  <div class="header">
    <h2>Fitness Equipment Managment</h2>
  </div>

  <div class="content">
    <form #searchForm="ngForm">
      <div class="form-group">
        <label>EquipmentName:</label>
        <input
          [(ngModel)]="equipmentName"
          name="equipmentName"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>equipmentCategory:</label>
        <input
          [(ngModel)]="equipmentCategory"
          name="equipmentCategory"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <button
          [disabled]="!searchForm?.valid"
          (click)="search()"
          class="btn btn-default"
        >
          Search
        </button>

        <button routerLink="../fitnessequipment-add" class="btn btn-default">
          Add
        </button>
      </div>
      <div *ngIf="!selectedEquipment" class="content" style="color: red">
        {{ response }}
      </div>
    </form>
  </div>
</div>

<div class="card" id="printSection">
  <table class="table table-condensed" *ngIf="equipments.length > 0">
    <thead>
      <tr>
        <th>Equipment Id</th>
        <th>Equipment Category</th>
        <th>Name</th>
        <th>Date Bought</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of equipments" [class.active]="e === selectedEquipment">
        <td>{{ e.equipmentId }}</td>
        <td>{{ e.equipmentCategory }}</td>
        <td>{{ e.equipmentName }}</td>
        <td>{{ e.dateBought | date: "yyyy-MM-dd" }}</td>
        <td>{{ e.price | currency: "EUR" }}</td>
        <td>
          <a class="no-print" (click)="select(e)">Edit</a>
        </td>
      </tr>
    </tbody>
    <button
      [useExistingCss]="true"
      printSectionId="printSection"
      ngxPrint
      class="btn btn-default no-print"
    >
      Save list as PDF
    </button>
  </table>
</div>

<div class="card" *ngIf="selectedEquipment">
  <div class="content">
    <fitness-equipment-edit
      [item]="selectedEquipment"
      [response]="response"
      (fitnessEquipment)="updateSelection($event)"
      (equipmentID)="deleteSelection($event)"
    >
      >
    </fitness-equipment-edit>
  </div>
</div>
