<form [formGroup]="createMemberForm" (ngSubmit)="create()">
  <div class="row">
    <div class="col-md-6">

      <h3 style="margin-left: 12px"
      >Neues Mitglied erstellen</h3>
    </div>

    <div class="col-md-6">
      <button routerLink="/member-search" style="margin-top: 24px; margin-left: 220px" class="btn btn-primary right">
        Mitglieder Suche
      </button>
    </div>
  </div>


  <div class="mb-3 col-md-6">
    <label class="form-label">Id:</label>
    <input formControlName="id" type="text" class="form-control" >
    <label *ngIf="createMemberForm.get('id')?.hasError('required') && createMemberForm.get('id')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="createMemberForm.get('id')?.hasError('pattern') && createMemberForm.get('id')?.touched"
           class="text-danger">*Die Id darf nur aus Zahlen bestehen </label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Vorname:</label>
    <input formControlName="firstname" type="text" class="form-control" >
    <label *ngIf="createMemberForm.get('firstname')?.hasError('required') && createMemberForm.get('firstname')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Nachname:</label>
    <input formControlName="lastname" type="text" class="form-control">
    <label *ngIf="createMemberForm.get('lastname')?.hasError('required') && createMemberForm.get('lastname')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Addresse: </label>
    <input formControlName="address" type="text" class="form-control" >
    <label *ngIf="createMemberForm.get('address')?.hasError('required') && createMemberForm.get('address')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="createMemberForm.get('address')?.hasError('minlength') && createMemberForm.get('address')?.touched"
           class="text-danger">*Die Adresse muss mindestens 6 Zeichen haben</label>
  </div>

  <div class="mb-3 col-md-6">
    <label class="form-label">E-Mail</label>
    <input formControlName="email" type="email" class="form-control">
    <label *ngIf="createMemberForm.get('email')?.hasError('required') && createMemberForm.get('email')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="createMemberForm.get('email')?.hasError('email') && createMemberForm.get('email')?.touched"
           class="text-warning">*Bitte eine gültige Email Adresse eingeben</label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Geburtsdatum:</label>
    <input type="date" formControlName="birthdate" class="form-control" >
    <label *ngIf="createMemberForm.get('birthdate')?.hasError('required') && createMemberForm.get('birthdate')?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="createMemberForm.get('birthdate')?.hasError('birthdate') && createMemberForm.get('birthdate')?.touched"
           class="text-danger">*Sie müssen über 18 Jahre alt sein</label>
  </div>
  <button
    [disabled]="createMemberForm.invalid" style="margin-left: 12px; margin-top: 12px" type="submit"
    class="btn btn-primary">Speichern
  </button>

</form>
