<div class="card"
  [ngStyle]="{ 'background-color': (item?.contractId === selected?.contractId) ? 'rgb(204, 197, 185)' : 'white' }">
  <div class="header">
    <h4>{{ item?.firstName }} - {{ item?.lastName }}</h4>
  </div>

  <div class="content">
    <p>Contract-ID.: {{ item?.contractId }}</p>
    <p>Membership Start: {{ item?.startTime | date: "dd.MM.yyyy" }}</p>
    <p>Membership Duration: {{ item?.membershipDuration }}</p>
    <p>Monthly Fee: {{ item?.membershipFee | currencyFormatter: "EUR":1 }}</p>
    <p>
      <button class="btn btn-default" (click)="toggleSelection()">
        {{ (item?.contractId === selected?.contractId) ? "Cancel" : "Edit" }}
      </button>
    </p>
  </div>
</div>
