<div class="row">
  <div class="col-md-6">

    <h3 style="margin-left: 12px"
    >Mitgliedsdaten ändern</h3>
  </div>

  <div class="col-md-6">
    <button  routerLink="/member-search" style="margin-top: 24px; margin-left: 220px"  class="btn btn-primary right">Mitglieder Suche</button >
  </div>
</div>

<form #editForm = "ngForm">
  <div class="mb-3 col-md-6">
    <label  class="form-label">Id:</label>
    <input disabled="disabled" required="true" [(ngModel)]="member.id" type="text" name="id"class="form-control"  aria-describedby="emailHelp">
    <label *ngIf="editForm.controls?.['id']?.hasError('required') && editForm.controls?.['id']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
  </div>
  <div class="mb-3 col-md-6">
    <label  class="form-label">Vorname:</label>
    <input required="true" minlength="3" [(ngModel)]="member.firstname" type="text" name="firstname" class="form-control"  aria-describedby="emailHelp">
    <label *ngIf="editForm.controls?.['firstname']?.hasError('required') && editForm.controls?.['firstname']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="editForm.controls?.['firstname']?.hasError('minlength') && editForm.controls?.['firstname']?.touched"
           class="text-danger">*Das Feld muss mind 3. Zeichen enhalten</label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Nachname:</label>
    <input required="true" minlength="3" [(ngModel)]="member.lastname" type="text" name="lastname" class="form-control" >
    <label *ngIf="editForm.controls?.['lastname']?.hasError('required') && editForm.controls?.['lastname']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="editForm.controls?.['lastname']?.hasError('minlength') && editForm.controls?.['lastname']?.touched"
           class="text-danger">*Das Feld muss mind 3. Zeichen enhalten</label>
  </div>
  <div class="mb-3 col-md-6">
    <label class="form-label">Addresse: </label>
    <input required="true" minlength="6" [(ngModel)]="member.address" type="text" name="address" class="form-control" aria-describedby="emailHelp">
    <label *ngIf="editForm.controls?.['address']?.hasError('required') && editForm.controls?.['address']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="editForm.controls?.['address']?.hasError('minlength') && editForm.controls?.['address']?.touched"
           class="text-danger">*Das Feld muss mind 6. Zeichen enhalten</label>
  </div>

  <div class="mb-3 col-md-6">
    <label  class="form-label">E-Mail</label>
    <input required="email" [(ngModel)]="member.email" email="true" name="email" class="form-control" >
    <label *ngIf="editForm.controls?.['email']?.hasError('required') && editForm.controls?.['email']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="editForm.controls?.['email']?.hasError('email') && editForm.controls?.['email']?.touched"
           class="text-warning">*Bitte geben sie eine korrekte Email ein</label>
  </div>
  <div class="mb-3 col-md-6">
    <label  class="form-label">Geburtsdatum:</label>
    <input  required="true"  name="birthdate" type="date" [(ngModel)] = "member.birthdate"  class="form-control" fitnessAdultValidator >
    <label *ngIf="editForm.controls?.['birthdate']?.hasError('required') && editForm.controls?.['birthdate']?.touched"
           class="text-danger">*Dieses Feld ist ein Pflichtfeld</label>
    <label *ngIf="editForm.controls?.['birthdate']?.hasError('birthdate') && editForm.controls?.['birthdate']?.touched"
           class="text-danger">*18 Jahre</label>

  </div>
  <button
    (click)="update()" [disabled]="editForm.invalid" style="margin-left: 12px; margin-top: 12px" type="submit" class="btn btn-primary">Ändern</button>

</form>
